body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
.bgimg {
    position: relative;
    min-height: 792px;;
    min-width:1408px;
    margin: 40px;
    margin-bottom: 0px;
    background-image: url("/ips/static//images/plan.jpg");
    background-repeat: no-repeat;
    z-index: 1;
}
#zmogus,
#zmogush {
    position: absolute;
    visibility: hidden;
    z-index: 100;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

/* Remove margins fro
#m "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
